footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #121212;
}
footer p {
  display: flex;
  text-align: center;
}
footer img {
  display: flex;
  width: 8%;
  height: 8%;
  padding: 0 auto;
}
